<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">work</mat-icon>
        Experience
      </ng-template>
      <experience></experience>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">code</mat-icon>
        Skills | Education
      </ng-template>
      <skills></skills>
    </mat-tab>
  
    <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">code</mat-icon>
          Skills
        </ng-template>
    
        Content 3
      </mat-tab>
     -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">apps</mat-icon>
          Projects
        </ng-template>
        <projects></projects>
      </mat-tab>
  </mat-tab-group>
  