<mat-toolbar color="primary">
    <span class="flex"></span>
      <div class="header">  
        <span class="profile"><img src="https://avatars1.githubusercontent.com/u/13818575?s=460&v=4" alt=""></span>
        <h4>{{ profile.name }}</h4>
        <h6>{{ profile.currentPosition }} at {{ profile.company }}</h6>
        <div style="border:soli;text-align:center;float: inherit">
            <mat-icon class="large material-icons" style="border:soli;float: left;margin: 0px -30px 0px 30px">location_on</mat-icon>
            <h6 style="border:soli;">{{ profile.location }}</h6>
        </div>
      </div>
    <span class="flex"></span>
</mat-toolbar>
<!-- <mat-grid-list cols="10" rowHeight="100px">
  <mat-grid-tile [colspan]="10" color="primary" style="border:soli">
    <div>  
      <h4>{{ profile.name }}</h4>
      <h6>{{ profile.currentPosition }} at {{ profile.company }}</h6>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->