<mat-card class="experience-card">
  <mat-card-header>
    <div mat-card-avatar class="experience-header-image"></div>
    <mat-card-title>Intro</mat-card-title>
    <mat-card-subtitle>Software Developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      I am a Software Developer with innate appetite for codes. Possess good understanding of web apps
       and MVC architecture. Experience in building Backend services, Rest APIs, Angular apps and 
       basic tools like git. Have experience in developing, deploying and maintaining web apps to 
       Heroku. I’ve also delivered a few freelancing tasks and had a stint with doing a startup even.
    </p>
    <p>I am a self-driven, all-time learner, proactively ready to get on with new techniques and ideas 
      to upgrade myself and deliver value at the end of the day.</p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>

<mat-card class="experience-card">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>work</mat-icon></div>
    <mat-card-title>Associate Consultant</mat-card-title>
    <mat-card-subtitle>
      <div>
        <p>Wipro Limited | Feb 2018 - Present</p>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      I joined wipro in Feb, 2018 as an Associate Consultant. I work on RSA's eGRC product - RSA Archer.
       Worked on custom object requirements. Performed API integration from Archer's API to fulfill 
       custom tasks. Also, acquired functional knowledge on eGRC concepts.
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
